body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  color: rgb(112, 117, 122);
  font-weight: 100;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}
li {
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 16px;
}
li::first-letter {
  text-transform: uppercase;
}

.weather-app {
  background-color: rgb(238, 245, 250);
  border-radius: 10px;

  border: 1px solid grey;
  padding: 30px;
}

.weather-app-wrapper {
  max-width: 720px;

  margin: 70px auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 15px;
  height: 64px;
  width: 64px;
}

.weather-temperature #temperature {
  color: rgb(32, 33, 36);
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  bottom: -5px;
}
a {
  text-decoration: none;
  font-size: medium;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-temp-min {
  opacity: 0.6;
}
.weather-forecast-temp {
  font-size: 13px;
}
